{% extends "base.twig.html" %}

{# Exercice #3 - Question 5 (voir aussi base.twig.html) #}
{% block titrePage %}
<title>Catégories | Admin :: Restaurant Leila</title>
{% endblock %}


{% block main %}
    <section class="liste-enregistrements">
        <h2><code>Catégories</code></h2>
        <header>
            <span>id</span>
            <span>nom</span>
            <span>type</span>
            <span class="action"></span>
        </header>
        <div class="data">
            {# Exercice #3 - Question 2 (a, b) #}
            <form class="nouveau" method="post" action="categorie/ajouter">
                <span></span>
                <span><input type="text" name="cat_nom" value=""></span>
                <span>
                    <select name="cat_type" id="cat_type">
                        <option value="">Choisir</option>
                        <option value="plat">Plat</option>
                        <option value="vin">Vin</option>
                    </select>
                </span>
                <span class="action">
                    <button type="submit" class="btn btn-ajouter btn-plein">ajouter</button>
                </span>
            </form>
            {# Exercice #3 - Question 2 (c) et Question 3 #}
            {% for categorie in categories %}
            <form method="post" action="categorie">
                {# Exercice #3 - Question 2 (d) #}
                <span><input type="text" name="cat_id" value="{{categorie.cat_id}}" readonly></span>
                <span><input type="text" name="cat_nom" value="{{categorie.cat_nom}}"></span>
                <span>
                    <select name="cat_type" id="cat_type">
                        <option {{categorie.cat_type=='plat' ? 'selected' : ''}} value="plat">Plat</option>
                        <option {{categorie.cat_type=='vin' ? 'selected' : ''}} value="vin">Vin</option>
                    </select>
                </span>
                <span class="action">
                    {# 
                        Exercice #3 - Question 2(c) : merci Alex et Pauline 
                        (je crois) pour l'attribut 'formaction' : fantastique 
                        trouvaille que je devais connaître mais que je ne 
                        connaissais pas ;-) 
                    #}
                    <button formaction="categorie/changer" class="btn btn-modifier">modifier</button>
                    <button formaction="categorie/retirer" class="btn btn-supprimer">supprimer</button>
                </span>
            </form>
            {% endfor %}
        </div>
    </section>
{% endblock %}
